.header {
    color: white;
}
.box {
    color: black;
}
.caption {
    color: black;
}
.quote {
    color: black;
}
.caption {
    color: black;
}
p {
    color:black;
}
h2 {
    color:black;
}
a:link {
    color:black;
}
title{
    color:black;
}